#main-header {
	background: #FFE600;
	color: white;
    height: 70px;
	width: 100%; 
	left: 0; 
	top: 0; 
    position: fixed; 
}

#searchbar{ 
	margin-left: 0%; 
    margin-top: 1%; 
    height: 22px;
    width: 555px; 
    padding: 5px; 
    position: fixed; 
    font-size: 18px;
} 

#image_logo{ 
	margin-left: 10%; 
    padding:15px; 
} 

#submit img {
    height: 28px;  
    width: 28px;
    margin-top: 3px;
    margin-left: 3px;
    align-content: center;
}

#list { 
    font-size:  1.5em; 
    margin-left: 90px; 
    margin-top: 80px;
} 

input::placeholder{
    color: #999999;
}

input {
    color: #333333;
}

button {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-top: 1%;
    vertical-align: top;
    width: 36px;
	margin-left: 41%; 
    position: fixed; 
}

body {
    background: #EEEEEE;    
}

.card {
    margin: 2rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative; 
    background: white;
  }
