#main-header {
	background: #FFE600;
	color: white;
    height: 70px;
	width: 100%; 
	left: 0; 
	top: 0; 
    position: fixed; 
}

#searchbar{ 
	margin-left: 0%; 
    margin-top: 1%; 
    height: 22px;
    width: 555px; 
    padding: 5px; 
    position: fixed; 
    font-size: 18px;
} 

#image_logo{ 
	margin-left: 10%; 
    padding:15px; 
} 

#submitButton img {
    height: 28px;  
    width: 28px;
    margin-top: 3px;
    margin-left: 3px;
    align-content: center;
}

#tablecreate {
    margin-top: 5%; 
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
}

#tableimage {
    height: 180px;
    width: 180px;
}

#tableprice {
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

#tabletitle {
    font-family: 'Proxima Nova';
    font-size: 18px;
    color: #666666;
}

#tableaddress {
    font-family: 'Proxima Nova';
    font-size: 12px;
    color: #999999;
}

#list { 
    font-size:  1.5em; 
    margin-left: 90px; 
    margin-top: 80px;
} 

input::placeholder{
    color: #999999;
}

input {
    color: #333333;
}

button {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-top: 1%;
    vertical-align: top;
    width: 36px;
	margin-left: 41%; 
    position: fixed; 
}

body {
    background: #EEEEEE;    
}

.card {
    margin: 2rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative; 
    background: white;
  }

  @font-face {
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot');
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot?#iefix') format('embedded-opentype'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff2') format('woff2'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff') format('woff'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.ttf') format('truetype');
}